.photo-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  justify-content: center;
  list-style: none;
  padding: 64px 0 0 0;
  margin: 0;
  gap: 16px;
  border: 1px solid green;
  box-sizing: border-box;
}
