.photo-grid {
  grid-area: g;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 300px));
  justify-content: space-evenly;
  list-style: none;
  padding: 64px 0 0 0;
  margin: 0;
  gap: 12px;
}
