.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
  margin: 0 0 32px 0;
  max-width: 720px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 76px;
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 667px) {
  .lead__title {
    font-size: 56px;
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 466px) {
  .lead__title {
    font-size: 40px;
    margin: 0 0 16px 0;
  }
}
