.cover__title {
  color: #ffffff;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  text-decoration: none;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 624px) {
  .cover__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 538px) {
  .cover__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 392px) {
  .cover__title {
    font-size: 32px;
  }
}
